

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.DecryptedText{
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  font-family: 'Poppins';
  text-align: left;
  margin-top: 8rem;
  margin-left: 2rem;
  text-shadow:
  0 2px 12px rgba(0, 0, 0, 0.3),     /* soft black shadow for contrast */
  0 0 8px rgba(0, 140, 255, 0.6),    /* blue glow */
  0 0 16px rgba(0, 140, 255, 0.5);
}

.DecryptedText1{
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins';
    text-align: left;
    margin: 2rem;
}


.team-header-bottom {
  width: 100vw;
  height: auto;
  z-index: 2;
  padding-left: 30px;
}